<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huang.auto.mapper.DemoMapper">




    <resultMap type="com.huang.auto.pojo.Demo"
               id="demoResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="tInt" column="tInt"/>
        <result property="tDouble" column="tDouble"/>
        <result property="tFloat" column="tFloat"/>
        <result property="tVarchar" column="tVarchar"/>
        <result property="tBigint" column="tBigint"/>
        <result property="tText" column="tText"/>
        <result property="tChar" column="tChar"/>
        <result property="tDate" column="tDate"/>
        <result property="tTime" column="tTime"/>
        <result property="tYear" column="tYear"/>
        <result property="tDatetime" column="tDatetime"/>
        <result property="tTimestamp" column="tTimestamp"/>
        <result property="tLongText" column="tLongText"/>
    </resultMap>

    <parameterMap id="demoParam"
                  type="com.huang.auto.pojo.Demo">
        <parameter property="id" jdbcType="INTEGER" />
        <parameter property="name" jdbcType="VARCHAR" />
        <parameter property="tInt" jdbcType="INTEGER" />
        <parameter property="tDouble" jdbcType="DOUBLE" />
        <parameter property="tFloat" jdbcType="FLOAT" />
        <parameter property="tVarchar" jdbcType="VARCHAR" />
        <parameter property="tBigint" jdbcType="BIGINT" />
        <parameter property="tText" jdbcType="VARCHAR" />
        <parameter property="tChar" jdbcType="CHAR" />
        <parameter property="tDate" jdbcType="DATE" />
        <parameter property="tTime" jdbcType="DATE" />
        <parameter property="tYear" jdbcType="INTEGER" />
        <parameter property="tDatetime" jdbcType="DATE" />
        <parameter property="tTimestamp" jdbcType="DATE" />
        <parameter property="tLongText" jdbcType="VARCHAR" />
    </parameterMap>

    <select id="selectDemoById" resultMap="demoResult" parameterMap="demoParam">
        SELECT id,name,tInt,tDouble,tFloat,tVarchar,tBigint,tText,tChar,tDate,tTime,tYear,tDatetime,tTimestamp,tLongText
        FROM demo
        WHERE id = #{id}
    </select>
    <select id="selectAllDemos" resultMap="demoResult">
        SELECT id,name,tInt,tDouble,tFloat,tVarchar,tBigint,tText,tChar,tDate,tTime,tYear,tDatetime,tTimestamp,tLongText
        FROM demo
    </select>

    <insert id="insertDemo" parameterMap="demoParam">
        INSERT INTO demo(name,tInt,tDouble,tFloat,tVarchar,tBigint,tText,tChar,tDate,tTime,tYear,tDatetime,tTimestamp,tLongText)
        VALUES(#{name},#{tInt},#{tDouble},#{tFloat},#{tVarchar},#{tBigint},#{tText},#{tChar},#{tDate},#{tTime},#{tYear},#{tDatetime},#{tTimestamp},#{tLongText})
    </insert>

    <update id="updateDemoById" parameterMap="demoParam">
        UPDATE demo
        SET name = #{name},tInt = #{tInt},tDouble = #{tDouble},tFloat = #{tFloat},tVarchar = #{tVarchar},tBigint = #{tBigint},tText = #{tText},tChar = #{tChar},tDate = #{tDate},tTime = #{tTime},tYear = #{tYear},tDatetime = #{tDatetime},tTimestamp = #{tTimestamp},tLongText = #{tLongText}
        WHERE id = #{id}
    </update>

    <delete id="deleteDemoById" parameterMap="demoParam">
        DELETE FROM demo
        WHERE id = #{id}
    </delete>

</mapper>